@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --primary: #01999A;
  --secondary: #B8E439;
  --fontColor: #3d3d3d;
  --grey: #EDEDED;
  --greyDark: #9b9b9b;
  --shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

/* ================= Halaman User ================= */

/* Header Start */
* {
  font-family: 'Poppins', sans-serif;
}

.btn-head-login {
  background-color: #E7583C;
  padding: 6px 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  color: white !important;
  border: 2px solid #E7583C;
}

.btn-head-login:hover {
  background-color: #ad2b11;
}

.btn-head-login a {
  text-decoration: none;
  font-weight: 500;
  color: #fff !important;
}

.btn-head-regist a {
  text-decoration: none;
  font-weight: 500;
  color: #E7583C !important;
}

.btn-head-login a,
.btn-head-regist a {
  padding: 0;
}

.btn-head-regist {
  background-color: #fff;
  padding: 6px 10px;
  border: 2px solid #E7583C;
  border-radius: 10px;
  outline: none;
}

.btn-head-regist:hover {
  background-color: rgb(231, 230, 230);
}


.link-head {
  color: #E7583C;
}

/* Header End */

/* Footer Start */
footer {
  background-color: var(--grey);
  height: 300px;
}

footer .container.container.footer {
  padding: 20px;
  box-sizing: border-box;
}

footer .container.container.footer .cr {
  text-align: center;
  margin-top: 80px;
}

footer .container.container.footer .cr p {
  color: var(--fontColor);
}

footer .container.footer ul li {
  list-style: none;
}

footer .container.footer ul li a {
  text-decoration: none;
  color: var(--fontColor);
  transition: .2s;
}

footer .container.footer ul li a:hover {
  color: var(--secondary)
}

/* Footer End */